:root {
  --navbar-height: 56px;
  --navbar-margin: 20px;
  --total-navbar-space: calc(var(--navbar-height) + var(--navbar-margin));
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.container-fluid {
  overflow-x: hidden;
}

.left_nav{
  background-color: #540D6E;
  color: white;
}
.backdrop{
  background-color: #EFEFEF;
}


.main-layout {
  margin-top: var(--total-navbar-space);
}

.sticky-sidebar {
  top: var(--total-navbar-space) !important;
}

.hover-highlight:hover {
  background-color: rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease;
  transform: scale(1.05);
}

.rotate {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Optional: Add these if you want to style the active link */
.nav-link.active {
  font-weight: 500;
  color: var(--bs-primary) !important;
}

.nav-link {
  color: var(--bs-dark) !important;
  transition: all 0.2s ease;
}

.badge-container {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  /* Makes the container circular */
  font-size: 0.9rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.badge-label {
  margin-left: 0.5rem;
  font-size: 0.85rem;
  font-weight: 500;
}

@media (min-width: 768px) {
  .offcanvas-body {
    overflow-y: visible !important;
  }

  .offcanvas {
    width: 100% !important;
    max-width: none !important;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}