:root {
  --navbar-height: 56px;
}

.hover-highlight:hover {
  background-color: rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease;
  transform: scale(1.05);
}

/* Optional: Add these if you want to style the active link */
.nav-link.active {
  font-weight: 500;
  color: var(--bs-primary) !important;
}

.nav-link {
  color: var(--bs-dark) !important;
  transition: all 0.2s ease;
}

@media (min-width: 768px) {
  .offcanvas-body {
    overflow-y: visible !important;
  }
}